/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* general */
body {
  font-family: "ProximaNova", sans-serif;
  position: relative;
  background: #00a5e6;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProximaNova", sans-serif;
  color: white;
}
span.scoreboard {
  font-family: 'score_boardregular';
  font-size: 4em;
}
.highlight {
  color: #ffe700;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  color: #ffe600;
}
/* background color classes */
.bg01 {
  background: #00a5e5;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
.bg02 {
  background-color: #818d91;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
.bg03 {
  background-color: #8237ff;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
.bg04 {
  background: #444444;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
.bg05 {
  background: #0055a6;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
.bg06 {
  background: #fdba12;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
.bg07 {
  background: #35b558;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
.bg08 {
  background: #00a5e5;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
}
/* header */
#header-subtitle {
  color: white;
  margin-top: -60px;
  margin-left: 40px;
  font-style: italic;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 100px;
}
.masthead {
  position: relative;
  overflow: hidden;
  background-color: white;
  height: auto;
}
.masthead h1 {
  text-align: right;
}
.masthead img {
  max-width: 100%;
}
#banner-message-img {
  opacity: 0;
  position: absolute;
  margin-top: -410px;
  margin-left: 345px;
}
.hex-row {
  margin-left: -40px;
  margin-top: -20px;
}
.offset {
  margin-left: -85px;
  margin-top: -21px;
}
.hex-grid {
  margin-top: 4px;
  margin-bottom: -5px;
}
/* NAV */
.bullet {
  font-size: 2.1em;
  position: absolute;
  margin-top: -10px;
  left: -20px;
}
.sidebar-nav.affix-top {
  margin-top: 2em;
}
.sidebar-nav.affix {
  margin-top: -390px;
}
.nav > li > a {
  padding: 4px 15px;
}
.sidebar-nav img {
  width: 50%;
}
.sidebar-nav .nav {
  margin-left: 30px;
  margin-top: 20px;
}
.sidebar-nav ul {
  list-style-type: none;
}
.sidebar-nav ul li a {
  color: #f8f8f8;
  text-transform: uppercase;
  width: 180px;
}
.sidebar-nav ul li a:hover {
  text-decoration: none;
  background-color: transparent;
}
.sidebar-nav ul li.active a.dark {
  color: #444444;
}
.sidebar-nav ul li.active a {
  color: white;
}
.sidebar-nav ul li.active span.bullet {
  color: yellow;
}
/* Main Content */
.section-header-row {
  margin-bottom: 1.4em;
}
.section-header-row img {
  max-width: 100%;
}
#section-one {
  /*
img {
        max-width: 100%;
    }
*/
}
#section-one #dollarsImg,
#section-one #giftImg,
#section-one #donorsImg {
  opacity: 0;
  width: 240px;
}
#section-two {
  /* ie fix for carousel */
}
#section-two #football {
  /* margin-top: 220px; */
  /* margin-left: 45px; */
  position: absolute;
  z-index: 9000;
}
#section-two #goalpost-img {
  /* margin-left: 226px; */
  /* position: absolute; */
  max-width: 100%;
}
#section-two #fb-like {
  position: relative;
  opacity: 0;
  /* margin-top: -60px; */
}
#section-two .carousel.slide,
#section-two .carousel.slide > div {
  width: 100%;
}
#section-two p a {
  color: #ffe600;
  text-decoration: none;
}
#section-two p a:hover {
  color: #ffe600;
  text-decoration: none;
}
#section-three img {
  max-width: 100%;
}
.leadership-legend {
  padding-left: 10px;
}
.leadership-legend li {
  text-transform: uppercase;
  font-size: 1.1em;
  list-style-type: none;
}
.leadership-legend .sub-li {
  font-size: .8em;
  text-transform: lowercase;
}
#section-four #plusSign,
#section-four #heartSign {
  width: 0px;
  height: 0px;
  opacity: 0;
}
#section-four #moneyGraphic,
#section-four #donorsGraphic {
  opacity: 0;
}
#section-five #cgn-graphic {
  max-width: 100%;
}
#section-six #number-bruin img {
  max-width: 100%;
}
#section-six .what-if-message {
  margin-top: 76px;
  position: relative;
  font-size: 3em;
}
#section-six .what-if-2 {
  margin-left: -35px;
}
#section-six #what-if-01 button {
  margin-top: 1em;
}
#section-six .btn-lg {
  padding: 10px 60px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
  background-color: white;
  color: #00a5e5;
}
#section-six .btn-lg.active {
  padding: 10px 60px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
  background-color: #ffe700;
  color: #00a5e5;
}
.bar-section.show {
  background: #fdba12;
}
ul.leadership {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  width: 80%;
}
ul.leadership li {
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
  cursor: default;
}
ul.leadership li.show {
  color: #fdba12;
}
ul.leadership .percentage {
  width: 5%;
  color: #ffffff;
  padding-right: 10px;
}
.sub-level {
  overflow: hidden;
  padding: 15px 0;
  /* display: none; */
}
ul.leadership .sub-level .sub {
  margin-bottom: 1px;
  padding-left: 15px;
  border-left: 5px solid white;
}
ul.leadership .sub-level .sub .amount {
  width: 14%;
  float: left;
  margin-right: 2%;
}
.chart-section-title {
  font-size: 1.3em;
  text-transform: uppercase;
}
#section-eight #strength-graphic {
  margin-bottom: 3em;
  margin-top: 3em;
  width: 100%;
  height: 100%;
}
#section-eight .final-message {
  font-size: 2.8em;
}
#main .section {
  padding-top: 2em;
  /* padding-bottom: 0em; */
  /* margin: 3em 0em 15em 0em; */
  /* position: relative; */
  margin-bottom: 10em;
}
#section-six.section {
  margin-bottom: 7em;
}
.section-header {
  color: #ffe600;
  letter-spacing: 1px;
}
.section-title {
  font-family: serif;
  font-size: 5.2em;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 80px;
}
.section p {
  font-size: 1.5em;
  color: white;
  padding: 0.3em 0em;
  font-weight: 300;
}
.section p strong {
  text-transform: uppercase;
}
.section h3.section-header {
  font-weight: 700;
  text-transform: uppercase;
}
.item-desc {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  color: white;
  margin-bottom: -8px;
}
.item-desc-sub {
  margin-top: 0.5em;
  display: block;
  font-style: italic;
  letter-spacing: .5px;
  margin-bottom: -8px;
}
#thud-carousel,
.video-wrapper {
  margin-top: 2em;
}
/* numbers */
.number {
  color: white;
  font-style: italic;
}
.symbol {
  color: white;
  font-size: 4em;
}
.num-sm {
  font-size: 2em;
}
.num-md {
  font-size: 3.8em;
}
.num-lg {
  font-size: 12em;
  font-weight: 700;
}
hr {
  margin-top: 0px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid white;
}
.imagine {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* FOOTER */
#footer {
  background-color: white;
  background-image: url(../img/colors.jpg);
  background-repeat: repeat-x;
  padding: 11em 0 4em;
  color: #333333;
  font-size: 0.9em;
  /* margin-top: 25em; */
}
#footer .address {
  padding-top: 20px;
}
#footer .social-icons {
  float: left;
  list-style-type: none;
  margin-top: 36px;
}
#footer .social-icons li {
  display: inline;
  padding-left: 4em;
}
#colors {
  overflow: hidden;
  margin-top: 100px;
}
/* Media Queries */
/* Large desktops and laptops */
@media (max-width: 1199px) {
  #section-four #percentDonorsSign {
    margin-left: 360px;
  }
  #section-four #percentDonors {
    margin-left: 300px;
  }
  #section-eight .final-message {
    font-size: 2.8em;
  }
  #footer .social-icons {
    padding-right: 2em;
  }
  #footer .social-icons li {
    display: inline;
    padding-left: 3em;
  }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #banner-message-img {
    opacity: 0;
    position: relative;
    margin-top: -410px;
    margin-left: 264px;
    width: 740px;
    height: 272px;
  }
  .num-md {
    font-size: 3em;
  }
  #section-six .what-if-2 {
    margin-left: 0px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .num-md {
    font-size: 3em;
  }
  .sidebar-nav img {
    display: none;
  }
  .section-title {
    font-size: 5em;
  }
  #footer .social-icons {
    padding-right: 2em;
  }
  #footer .social-icons li {
    display: inline;
    padding-left: 1.5em;
  }
  #section-one img {
    width: 70%;
    height: 70%;
  }
  #section-eight .final-message {
    font-size: 2.5em;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .sidebar-nav img {
    display: none;
  }
  .section-title {
    font-size: 4em;
  }
  #section-one img.graphic {
    width: 50%;
    height: 50%;
  }
  .num-md {
    font-size: 3.2em;
  }
  #footer .social-icons {
    float: none;
    list-style-type: none;
    margin-top: 36px;
    margin-left: -52px;
    padding-left: -20;
  }
  #footer .social-icons li {
    display: inline;
    padding-left: 1em;
  }
  #pdf-wrapper {
    margin-top: 3em;
  }
  #section-six .num-lg,
  #section-seven .num-lg {
    font-size: 4em;
  }
  ul.leadership .sub-level .sub .amount {
    width: 40%;
  }
  #section-eight .final-message {
    font-size: 2em;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .leadership-legend li {
    font-size: .8em;
  }
  .sidebar-nav img {
    display: none;
  }
  .section-title {
    font-size: 3em;
  }
  /*
.masthead {
        height: 140px;
    }
*/
  .section p {
    font-size: 1.2em;
    color: white;
    padding: 0.3em 0em;
    font-weight: 300;
  }
  #section-one img.graphic {
    width: 40%;
    height: 40%;
  }
  #section-one #giftImg,
  #section-one #donorsImg,
  #section-one #dollarsImg {
    margin-bottom: 4em;
  }
  #section-three img.graphic {
    width: 40%;
    height: 40%;
  }
  #section-four #donutImg {
    width: 60%;
    height: 60%;
  }
  #section-four #percentDonors {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 3em;
  }
  #section-four #percentDonorsSign {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 3em;
  }
  #section-six .what-if-message {
    margin-top: 0px;
    position: relative;
    font-size: 2.5em;
  }
  #section-six .what-if-2 {
    margin-left: 0px;
  }
  #what-if-btns-wrapper {
    margin-bottom: 1.5em;
  }
  #footer {
    background-color: white;
    background-image: url(../img/colors.jpg);
    background-repeat: repeat-x;
    padding: 14em 0 6em;
    color: #333333;
    font-size: 0.9em;
  }
  #footer .address {
    padding-top: 20px;
  }
  #footer .social-icons {
    float: none;
    list-style-type: none;
    margin-top: 36px;
    margin-left: -52px;
    padding-left: -20;
  }
  #footer .social-icons li {
    display: inline;
    padding-left: 1em;
  }
  #pdf-wrapper {
    margin-top: 3em;
  }
}
