/* START Load the Fonts ======================================================================================================================================================== */
@font-face {
	font-family: 'karbon'; 
    src:    url('../../assets/karbon/karbon-regular-webfont.eot'); 
    src:    url('../../assets/karbon/karbon-regular-webfont.eot?#iefix') format('embedded-opentype'), 
            url('../../assets/karbon/karbon-regular-webfont.woff') format('woff'), 
            url('../../assets/karbon/karbon-regular-webfont.ttf') format('truetype'), 
            url('../../assets/karbon/karbon-regular-webfont.svg') format('svg'); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'karbon'; 
    src:    url('../../assets/karbon/karbon-light-webfont.eot'); 
    src:    url('../../assets/karbon/karbon-light-webfont.eot?#iefix') format('embedded-opentype'), 
            url('../../assets/karbon/karbon-light-webfont.woff') format('woff'), 
            url('../../assets/karbon/karbon-light-webfont.ttf') format('truetype'), 
            url('../../assets/karbon/karbon-light-webfont.svg') format('svg'); 
	font-weight: 300;
	font-style: normal;
}
body {
    font-family: open-sans, arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* START Page Animation CSS ======================================================================================================================================================== */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(150px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.3, .84, .38, 1);
}

/* START Housekeeping Reset CSS ======================================================================================================================================================== */
.enable-javascript {
  min-height: 50px;
  text-align: center;
  background-color: #FFE800;
  vertical-align: middle;
  line-height: 50px;
}
h1, h2, h3, h4, h5, h5, p {
    margin: 0;
    padding: 0;
}


/* START Grid Template Layout CSS (mobile first) ======================================================================================================================================================== */

.g-container {
    display: grid;
    grid-template-areas: 
        "header"
        "hero"
        "content-footer"
        "footer";
}

.header {   grid-area: header;}
.hero {     
            grid-area: hero;
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-rows: 25% 30% 15%;
            grid-template-areas: 
                "hero-text"
                "give-module"
                "image-spacer"
}
    .hero-text {        grid-area: hero-text;}
    .give-module {      grid-area: give-module;}
    .image-spacer {     grid-area: image-spacer;}

    .content-footer {   grid-area: content-footer;}
    .footer {           grid-area: footer;}

/* START Header ======================================================================================================================================================== */

.header {
    background-color: white ;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
    .header img {
        height: 24px;
        vertical-align: middle;
    }
    .logo-container {
        margin: 0 auto;
        max-width: 981px;
    }

/* START Hero ======================================================================================================================================================== */

.hero {
    display: block;
    background-image: url('../images/ucla-reunion-header-image-mobile-720.jpg');	
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #2774ae;
    text-align: center;
    padding-top: 50px; /*There might be a way to bake this into the grid */

        /* Width and Height fallback for older browsers. */
        width: 100%;
        height: 100%;

        /* Set the width and height to match that of the viewport. */
        width: 100vw;
        height: 100vh;

        /* But set a max height of 1/2 img for odd person looking at site in very narrow desktop version */
        max-height: 704px;       
}

.hero-text {
    max-width: 400px;
	margin: auto;
    font-family: 'Open Sans', sans-serif;
}
    .hero-text span {
        color: #ffffff;
        font-family: karbon, helvetica, arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 12px;
    }
    .hero-text h1 {
        color: #ffffff;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        font-style: italic;
        font-size: 32px;
        margin: 0 0 24px;
        letter-spacing: 2px;
    }
    .hero-text p {
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        margin: 0 1.5em 0;
    }

/* START Give Module ======================================================================================================================================================== */

    /* START Grid Layout */
    .give-module {
        display: grid;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 3fr 4fr 4fr;
        grid-template-areas: 
        "module_heading module_heading"
        "tab-left tab-right"
        "w-tab-content w-tab-content"
        "w-tab-content w-tab-content";
    }
    .module_heading {   
        grid-area: module_heading;
        justify-self: stretch;
        align-self: stretch;
        vertical-align: center;
    }
    .tab-left {         grid-area: tab-left;}
    .tab-right {        grid-area: tab-right;}
    .w-tab-content {    grid-area: w-tab-content;}

    /* END Grid Layout ========================================= */

.give-module {
    background-color: rgba(221,240,255,.8);
    position: relative;
    box-sizing: border-box;
	border-radius: 4px;
    padding: 12px;
    max-width: 400px;
    width: 80%;
    /*padding: 18px;
    width: 90%;
    height: 100%;*/
	margin: 2em auto;
}
.module_heading {
    max-height: 60px;
    width: 100%;
    background-color: #eee;
	border-radius: 4px;
    text-align: center;

    display: grid;
    align-items: center; 
}
    .module_heading span {
        font-family: 'Open Sans', sans-serif;
        color: #565656;
        font-weight: 600;
    }
.tabs {
    background-color: #fff;
    color: #3284bf;
    border: 0px solid #ccc;
	border-radius: 4px;
    display: grid;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s ease; 
}
    .tabs span {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
    }
.tab-left.w--current,
.tab-right.w--current {
    background-color: #3284bf !important;
    color: #fff;
    cursor: default;
}
.tab-left:hover,
.tab-right:hover {
    background-color: rgba(255, 255, 255, .6);
}

.w-tab-content {
    height:100%;
    width: 100%;
}
.w-tab-pane {
    display: none;
    height: 100%;
    grid-row-gap: 8px; /*Set this gap to same as .give-module*/
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "input-container"
        "submit-button";
}
    .w-tab-pane.w--tab-active {
        display: grid;
    }

.input-container {
    grid-area: input-container;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #3284bf;
	border-radius: 4px;
    display: grid;
    grid-template-areas: 
    "input_text_left input_field input_text_right";
}
.input_text_left { 
    grid-area: input_text_left;
    min-width: 20px;
    font-size: 18px;
}
.input_text_right { 
    grid-area: input_text_right; 
    font-size: 14px;
}
.input_text_left, .input_text_right {
    color: #565656;
    display: grid;
    align-items: center;
    font-weight: 600;
}
.input_field {
    grid-area: input_field;
    border-style: none;
    color: #00a5e5;
    font-size: 24px;
    max-width: 110px;
}
.submit-button {
    grid-area: submit-button;
    background-color: #3284bf;
    justify-self: stretch;
    align-self: stretch;
	padding: 14px 20px;
	border: 0px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s ease; 

    display: grid;
    align-items: center;
}
    .submit-button span {
        color: #fff;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .submit-button:hover {
        background-color: #2699d5;
        transition: background-color .2s ease; 
    }


input[type=number]:focus {
    outline: none;
}
button[type=submit]:focus {
    outline: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}




/* START Content Footer ======================================================================================================================================================== */

/* THE GRID structure */
.content-footer {
    background: #fff;
    max-width: 981px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em 0;
    grid-template-areas: 
        "westward"
        "spark"
        "phone";
}
    .westward_giving {  grid-area: westward; }
    .spark_giving {     grid-area: spark; }
    .phone_giving {     grid-area: phone; }

    /*Each Footer Module*/
    .footer-module {
        display: grid;
        align-items: center;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "footer-module-icon"
            "footer-module-heading"
            "footer-module-text"
    }
            .footer-module-icon { grid-area: footer-module-icon;}
            .footer-module-heading { grid-area: footer-module-heading;}
            .footer-module-text { grid-area: footer-module-text;}
    /*END Footer Module */


/* END THE GRID structure */


.footer-module  {
    padding: .5em;
    text-align: center;
    display: grid;
    align-content: center;
}
    .spark_icon {
        height: 35px;
        display: block;
        margin: .5em auto;
        padding: 0;
    }
    .phone_icon {
        height: 60px;
        display: block;
        margin: .5em auto;
        padding: 0;
    }
    .westward_icon {
        height: 60px;
        display: block;
        margin: .5em auto;
        padding: 0;
    }

    .content-footer h6 {
        color: #565656;
        font-size: 13px;
        font-weight: 600;
        margin: .5em auto;
        padding: 0;
    }
    .content-footer p {
        color: #565656;
        font-size: 13px;
        line-height: 18px;
        margin: .5em 0;
    }
    .content-footer a {
        color: #3284bf;
        display: block;
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        margin: .5em auto;
        padding: 0;
    }

/* START Footer Footer ======================================================================================================================================================== */

.footer {
    background: #fff;
    text-align: center;
    padding: 1em;
}
.footer a {
    text-decoration: none;
    cursor: pointer;
}
    .facebook-icon {
        height: 20px;
        margin: 1em;
    }
    .twitter-icon {
        height: 18px;
        margin: 1em;
    }
    .instagram-icon {
        height: 18px;
        margin: 1em;
    }
    .youtube-icon {
        height: 16px;
        margin: 1em;
    }
address p {
    color: #888;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


/* mobile styles */
/* START Mobile Styles ======================================================================================================================================================== */

@media screen and (min-width: 479px) {
    /* 
    .hero {
        grid-template-rows: 10% 10% auto;
    }
    */
}

/* IPad, iPad horiz, iPad pro, 768-1024 =========== */
@media screen and (min-width: 768px) {
    .header {
        text-align: left;
    }
    .header img {
        height: 24px;
        vertical-align: middle;
        margin-left: 2.8em;
    }
    .hero {
        background-image: url('../images/ucla-reunion-header-image-desktop-900.jpg');		
	    background-size: auto 104%;
	    background-position: center bottom;
	    background-repeat: no-repeat;
        text-align: center;

	        /* Height and width fallback for older browsers. */
	        height: 100%;
	        width: 100%; 
      
	        /* Set the height to match that of the viewport. */
	        height: 100vh; 
      
	        /* Set the width to match that of the viewport. */
            width: 100vw; 
        
        display: grid; 
        grid-template-rows: 45% 55%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "give-module hero-text"
            "image-spacer image-spacer";
    }
    .hero-text {
        margin: 0 20px 0 0;
    }
    .content-footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-gap: 0 0;
        align-items: start;
        grid-template-areas: 
            "westward spark phone";
    }
    .footer-module{
        grid-template-rows: 80px auto auto;
    }
        .spark_icon {                   height: 32px; }
        .phone_icon, .westward_icon {   height: 52px; }
        
        .content-footer h6 {
            font-size: 12px;
            line-height: 18px;
        }
        .content-footer p {
            font-size: 12px;
            line-height: 18px;
        }
        .content-footer a {
            display: block;
            font-size: 13px;
        }
}


/*Display for desktops 
*/
@media screen and (min-width: 1025px) {
    .header {
        width: 100%;
        height: 80px;
        line-height: 80px;
    }
        .header img {
            height: 28px;
            vertical-align: middle;
        }
    .hero-container {
        background-color: #2774ae;
        background-image: url('../images/ucla-reunion-header-image-desktop-2000.jpg');
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;

            /* Width and Height fallback for older browsers. */
            width: 100%;
            height: 1000px;

            /* Set the width and height to match that of the viewport. */
            width: 100vw;
            height: 70vh;
    }
    .hero {
        background-image: unset; 
        background-color: unset;	
        max-width: 1024px;
        max-height: unset;
        height: 100%; 
        margin: 0 auto;
        padding: 0;

        grid-template-rows: 4fr 3fr !important;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "give-module hero-text"
            "image-spacer image-spacer";
    }
    .hero-text {
        max-width: 500px;
        margin: auto;
        font-family: 'Open Sans', sans-serif;
    }
        .hero-text span {
            font-size: 22px;
            line-height: 12px;
        }
        .hero-text h1 {
            font-size: 36px;
            margin: 0 0 18px;
            letter-spacing: 2px;
        }
        .hero-text p {
            font-size: 14px;
            line-height: 21px;
            margin: 0 1.5em 0;
        }
    
    .content-footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;

        align-items: start;
        grid-template-areas: 
            "westward spark phone";

        width: 1024px;
    }



}


/* Remove this if nothing needed, seems to conflict with prior style rules and is holdover from 100 years page.
@media screen and (max-width: 1024px) {
	
	.header {
		text-align:center;
	}
	
	.hero {
		display:block;
	    background-color: #428ad4;
	    text-align: center;
		padding-top:50px;
	}
	
	.hero-nested-4 {
		display: block;
	}
	
	.hero-nested-5 {
		display: none;
	}
	
	.hero-nested-6 {
		display: block;
	}
	
}
*/
