@media (max-width: 1070px) {

	/* Boxed layout */



}

@media screen and (min-width:1000px) {


	/* Header layout - Standard large */


	/* Header layout - Centered large */


	/* Header layout - Centered small */

	
	/* Full layout */


	/* Header layout - inverted layout */


	/* Slideshow title size */
	.gaw-slide-title h2 {
		font-size: 65px;
		line-height: 78px;
	}

	/*== Make room in Navbar for donate button ==*/
	#bs-example-navbar-collapse-1 {
		margin-right: 120px;
	}


}

@media (max-width: 1000px) {


	/* Larger header */


	/* Navbar fix */


	/* Navbar */


	/* Services widget */


	/* Slideshow widget */


	/* Portfolio widget */


	/* Partners widget */


	/* Blog widget */


	/* Page category */


	/* Back to top button */


	/* Pagination */


	/* Slideshow title size */
	.gaw-slide-title h2 {
		font-size: 4em;
		line-height: 1.2em;
	}

	/* Donate Menu Button */
	#donate-menu-button-mobile {
		right: 80px;
	}


}


@media (max-width: 768px) {


	/* Slideshow widget */


	/* Wordpress admin panel fix */


	/* Portfolio widget */


	/* Contact page */

	
	/* General page */


	/* Post content */


	/* Admin */

	/* Donate Menu Button */
	#donate-menu-button-mobile {
		right: 60px;
	}


}


@media (max-width: 600px) {

	/* Wordpress admin panel fix */


	/* 404 page */


	/* Testominials */

	/* Donate Menu Button */
	#donate-menu-button-mobile {
		right: 50px;
	}
}


@media (max-width: 480px) {

	/* Slideshow widget */


	/* Testominials */


	/* Services widget */


	/* Contact page */


	/* Partners widget */

 	/* Donate Menu Button */
	#donate-menu-button-mobile {
		right: 50px;
	}

}


/* Pagination custom margin */

@media (min-width: 1000px) {


	
}


/* Slideshow widget manual height. GAW version. Overrides parent theme */
/* Slideshow widget manual height. GAW version. Overrides parent theme */
@media (min-width: 2001px) { 
	.page-slideshow { height: 620px; }
	.school_logo { top: -120px; left: 25%; }
	.school_logo img { width: 180px; }
}

@media (max-width: 2000px) { 
	.page-slideshow { height: 520px; }
	.school_logo { top: -110px; left: 20%; }
	.school_logo img { width: 160px; }
}

@media (max-width: 1600px) { 
	.page-slideshow { height: 480px; }
	.school_logo { top: -90px; left: 15%; }
	.school_logo img { width: 140px; }
}

/* Header collapses down to hamburger menu */
@media (max-width: 991px) { 
	.page-slideshow { height: 400px; }
	.school_logo { top: -70px; left: 50%; margin-left: -60px; }
	.school_logo img { width: 120px; }
	.right-bg { background-image: none; }
    .left-bg { background-image: none; }
}

@media (max-width: 600px)  { 
	.page-slideshow { height: 300px; } 
	.school_logo { top: -40px; left: 50%; margin-left: -50px; }
	.school_logo img { width: 100px; }
}

@media (max-width: 400px)  { 
	.page-slideshow { height: 260px; }
	.school_logo { top: -30px; left: 50%; margin-left: -50px; }
	.school_logo img { width: 100px; }
}




/* Slideshow title size */

